

.searchContainer {
    width: 100%;
    height: 45vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
}

.images {
    margin:auto;
    display: flex;
    flex-direction: column;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.image {
    height: 25px;
    width: 25px;

}

.superThin {
    height: 25px;
    width: 1.9px
}

.searchTitleContainer {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center; /* Horizontal center alignment */
   
}

.searchTitle {
    text-align: center;
    color: #010101;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

}

.textContainer {
    flex-grow: 0.3;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: left;
    align-items:center;
}

.textArea {
    height: 100%;
    width: 90%;
    flex-grow: 1;
}

.accordion {
    box-shadow:none;
}

.timeSelectHeader {
    /* margin-top : 1rem;
    margin-left: 3.2rem; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1vw;
}

.timeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeInput {
    width: 100px;
    border: none;
    background-color: #FFFFFF;
}

.daySelectContainer {
    margin: auto;
    background-color: hsl(0, 0%, 93%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.daySelectContainer2 {
    background-color: hsl(0, 0%, 93%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;


}

.dayContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 10px;
    height: 40px;
    margin:auto;
    margin-left: 2px;
    margin-right: 2px;
    width: 20%;

}

.numDay {
    height: 100%;
    line-height: 10px;
}

.numDayContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    background-color:#00B5CE !important;
}


.buttonsContainer {
    padding: 5px;
}
.buttonContainer {
    background: #00B5CE;
    color: #FFFFFF !important;
    border-radius: 8px;
}
.button {
    width: 100%;
    color: #FFFFFF !important;
    height: 30px;
    border-radius: 50vw;
}